/build/
/cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vspx

output/
*.exe
*.out
*.dll
*.so
*.a
*.lib

*.log
*~